footer {
  background: $primary;
  padding: 39px 15px 0;
  color: #fff;

  @include media-breakpoint-up(lg) {
    padding: 50px 30px 0;
  }

  @include media-breakpoint-up(xl) {
    padding-left: 45px;
    padding-right: 45px;
  }

  @include media-breakpoint-up(xxl) {
    padding-left: 60px;
    padding-right: 60px;
  }

  .footer-menu {
    margin-bottom: 28px;

    h5 {
      font-size: 14px;
      text-transform: uppercase;
      margin-bottom: 16px;

      @include media-breakpoint-up(lg) {
        font-size: 18px;
        margin-bottom: 20px;
      }
    }

    ul {
      padding: 0;
      margin: 0;
      list-style: none;

      li {
        @include media-breakpoint-up(lg) {
          margin-bottom: 2px;

        }

        a {
          font-size: 12px;
          font-weight: 300;
          text-decoration: none;
          line-height: 26px;
          color: #fff;

          @include media-breakpoint-up(lg) {
            font-size: 16px;
          }

          &:hover {
            color: $accent;
          }
        }
      }
    }
  }

  .subscribe-form {
    @include media-breakpoint-down(lg) {
      margin-top: 55px;
    }

    h3 {
      font-size: 22px;
      font-weight: 500;
      margin-bottom: 44px;

      @include media-breakpoint-up(lg) {
        font-size: 28px;
        margin-bottom: 54px;
      }
    }

    form {
      position: relative;
      margin-bottom: 44px;

      label {
        width: 100%;
        display: block;
        font-size: 13px;
        font-weight: 300;

        input {
          width: 100%;
          display: block;
          height: 45px;
          border: none;
          padding: 15px 45px 15px 0;
          font-size: 13px;
          outline: none;
          font-weight: 300;
          line-height: 16px;
          color: #fff;
          background: none;
          border-bottom: 1px solid #fff;

          @include media-breakpoint-up(lg) {
            font-size: 17px;
            height: 53px;
          }
        }
      }

      button {
        position: absolute;
        right: 0;
        bottom: 0;
        padding: 0;
        width: 15px;
        height: 45px;
      }
    }
  }

  .contacts {
    a {
      color: #fff;
    }

    .socials {
      display: flex;
      gap: 0 20px;
    }

    .contact-details {
      text-align: right;

      .phone {
        text-decoration: none;
        font-weight: 300;

        @include media-breakpoint-up(lg) {
          font-size: 22px;
          line-height: 28px;
        }
      }

      small {
        font-size: 12px;
        font-weight: 300;
        color: $textSecondary;
        display: block;
        line-height: 14px;
        margin: 11px 0 7px;

        @include media-breakpoint-up(lg) {
          font-size: 16px;
          margin: 9px 0 12px;
        }
      }

      .email {
        font-size: 12px;
        font-weight: 300;

        @include media-breakpoint-up(lg) {
          font-size: 16px;
        }
      }
    }
  }

  .misc {
    margin-top: 22px;

    a {
      font-size: 9px;
      font-weight: 300;
      text-decoration: none;
      color: $textSecondary;

      @include media-breakpoint-up(lg) {
        font-size: 14px;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .copyright {
    margin-left: -15px;
    margin-right: -15px;
    margin-top: 13px;
    border-top: 1px solid #3b3b3b;
    padding: 0 16px 0 10px;
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;

    @include media-breakpoint-up(lg) {
      margin: 24px 0 0;
      height: 77px;
      padding: 0;
    }

    p {
      margin: 0;
      color: $textSecondary;
      font-size: 9px;
      font-weight: 300;
      text-transform: uppercase;

      @include media-breakpoint-up(lg) {
        font-size: 14px;
      }
    }

    .payment-methods {
      display: flex;
      gap: 0 17px;

      #visa {
        width: 47px;
        height: 22px;
      }

      #mastercard {
        width: 38px;
        height: 22px;
      }
    }
  }
}
